<p *ngIf="!products"><em>{{pageStatus}}</em></p>

<div *ngIf="products">

  Available Products : {{totalProducts}}
  <span style="padding-left: 8em;"><a [routerLink]="['/cart']" class="btn btn-primary">Shopping Cart</a></span>
  <div style="padding-top:0.5em;"></div>
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th><span (click) ="sortby('price')" style="cursor:pointer; padding-right:0.5em;">Price</span><span [class]="sortedCssClass"></span></th>
        <th>Buy?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products">
        <td>{{ p.id }}</td>
        <td>{{ p.name }}</td>
        <td>{{ p.price }}</td>
        <td><a [routerLink]="['/cart', { id:p.id }]">Buy Now</a></td>
        <!--<td><a [routerLink]="['/cart', p.id]">Buy Now</a></td>-->
      </tr>
    </tbody>
  </table>

</div>
